.container {
    display: flex;
    height: 200px;
    align-items: center; /* Default alignment for all items */
    border: 1px solid black;
  }
  
  .item:nth-child(2) {
    /*align-self: flex-end; /*This specific item moves to the bottom
    /* align-self: flex-start; */
    /* align-self: center; */
    align-self:baseline;/*Aligns the item based on its text baseline.*/

  }
  
  .item.large{
    flex: 2; /* All items grow twice as much */
  }
  /*flex: 1; /* All items grow equally */
 