div{
    width: 400px;
    height: 200px;
    text-align: center;
    background-color: olive;
    border: 2px solid black;
    margin: 10px auto;
    background-image: url(bgimage.jpg);
    /* background-size: auto; */
    /* background-size: contain; */
     background-size:cover;/*Mostly used */
}