/* .item {
    flex-grow: 1; /* Each item grows equally
  } */
  
 /* .item.large {
    flex-grow: 2; /* This item grows twice as much.
  } */

  /*.item {
    flex-shrink: 1; Shrinks when necessary
  }*/
  
  .item.no-shrink {
    flex-shrink: 0; /* This item won't shrink*/
  }
  