p {
    color:#964B00;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    color:red;
    line-height: 30px;
}
h3{
    color: black;
}
a{
    color: rgb(0,128,0);
    text-decoration: none;
}
button {
    background-color: white;
    color: blueviolet;
    
}
textarea{
    color: black;
}
span{
    text-decoration: underline;
}
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
